[Unit]
Description=frp Service
After=network.target

[Service]
ExecStart=/usr/local/bin/frps -c /etc/frp/frps.ini
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
